*.log
*.pyc
*.txt
!requirements.txt
*.bck
*.pickle

!data/
data/*
!data/annotation/
!data/fasta/
!data/pdb_fasta/
!data/loops/
!data/Unknown_motif_location_input.csv
!data/Train_motif_location_input.csv
!data/Train_family_info.csv
!data/Unknown_motif_family_info.csv
!data/Train_Validate_Test_data_list.csv

!my_lib/DSSR/
my_lib/DSSR/*
my_lib/DSSR/x3dna-dssr

!my_lib/fonts/
my_lib/fonts/*
