*.log
*.pyc
*.txt
!requirements.txt
*.bck
*.pickle

!data/
data/*
!data/annotation/
!data/fasta/
!data/pdb_fasta/
!data/loops/
!data/Train_motif_location_HL_input_PDB.csv
!data/Train_motif_location_IL_input_PDB.csv
!data/Train_Validate_Test_data_list.csv
!data/Unknown_motif_location_HL_input_PDB.csv
!data/Unknown_motif_location_IL_input_PDB.csv
!data/sample_input

!my_lib/DSSR/
my_lib/DSSR/*
my_lib/DSSR/x3dna-dssr

!my_lib/fonts/
my_lib/fonts/*
